footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#404040;
   color: #404040;
   opacity: 0.7;
}
footer div {
   text-align: center;
}

.one {
	color: #e4e4e4;
	padding: 15px 0 0;
	font-size: 13px;
}

.two{
	color: #e4e4e4;
	padding: 3px 0;
	font-size: 13px;
}

.Copyright{
	color: #e4e4e4;
	padding: 0 0 15px;
	font-size: 13px;
}