body{
	margin: 0;
}
.loginMain{
	height: 750px;
	min-height: 750px;
	min-width: 1300px;
	display: flex;
	padding: 90px;
}
.loginImg{
	width: 65%;
	height: 100%;
	background-color: #e8e8e8;
}
.loginInput{
	width: 35%;
	height: 100%;
	background-color: #ffffe1;
}