@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	margin-top: 100px;
	text-align: center;
}
.rel-time{
	font-size: 100px;
	color: #30475e;
	margin-bottom: 15px;
}
.rel-date{
	font-size: 30px;
	color: #30475e;
	margin: 0 0 30px 0;
}
.form-Input{
	font-weight: 900;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: default;
    transition: .7s;
    transition-timing-function:cubic-bezier(1,-0.5,0,1.5);
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    font-size: 20px;
    background: transparent;
    margin-bottom: 10px;
}
.toDoForm-Input{
    font-weight: 900;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 100px;
    cursor: default;
    transition: .7s;
    transition-timing-function:cubic-bezier(1,-0.5,0,1.5);
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    font-size: 25px;
    background: transparent;
	
}
.form,
.greetings {
	display : none;
}

.showing {
	margin-top : 50px;
	display: block;
}

@keyframes fadeIn{
	from{
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.bgImage{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}



.line-1 {
    width: 5px;
    height: 0px;
    background: #fff;
    margin: auto;
    position: relative;
    left: 45px;
    top: -20px;
    transform: rotate(-45deg);
    transition: .5s;
    transition-timing-function: cubic-bezier(1,0,.3,1);
    cursor: pointer;
}

.line-2 {
    width: 5px;
    height: 0px;
    background: #fff;
    margin: auto;
    transform: rotate(-45deg);
    position: relative;
    left: 0;
    top: -40px;
    opacity: 0;
    transition: .5s ease-in-out;
    transition-timing-function: cubic-bezier(1,0,.3,1);
    cursor: pointer;
}

.main{
	vertical-align: middle;
	width: 700px;	
	display: inline-block;
}

button {
	margin: 5px 5px;
    width: 120px;
    height: 30px;
    border: none;
    background-color: lightslategray;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.active {
    width: 400px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 15px;
    margin-bottom: 20px;
