.mainAll{
	height: 750px;
	display: flex;
	margin: 5%;
	min-height: 750px;
	min-width: 1300px;
}
.infoText{
	width: 65%;
	height: 100%;
	background-color: #e8e8e8;
}
.imgLoc{
	width: 35%;
	height: 100%;
	background-color: #ffffe1;
}
.weather{
	text-align: center;
}

.nowWeather li{
	list-style: none;
}
.weatherList{
	display: flex;
}
.weatherList li{
	background-color: #ffffff;
	margin-right: 20px;
}